<section class="menu">
  <span class="decor"></span>
  <div class="container">
    <h2 class="menu__title" id="menu">Меню ресторану</h2>
    <div class="menu__container">
      <div class="menu__container--col-1">
        <table class="dishes">
          <caption class="dishes__category">
            Гарячі страви
          </caption>
          <tbody>
            <tr>
              <th class="dishes__caption">Борщ з телятини з квасолею</th>
              <th class="dishes__portion" rowspan="2">400 г</th>
              <th class="dishes__price" rowspan="2">240 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Суп сирний з куркою</th>
              <th class="dishes__portion" rowspan="2">400 г</td>
              <th class="dishes__price" rowspan="2">200 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Паста карбонара</th>
              <th class="dishes__portion" rowspan="2">350 г</td>
              <th class="dishes__price" rowspan="2">430 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Стейк зі свинини</th>
              <th class="dishes__portion" rowspan="2">400 г</th>
              <th class="dishes__price" rowspan="2">500 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Горбуша в соусі з білого вина</th>
              <th class="dishes__portion" rowspan="2">400 г</td>
              <th class="dishes__price" rowspan="2">400 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>
        <table class="dishes">
          <caption class="dishes__category">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr>
              <th class="dishes__caption">Запечені овочі</th>
              <th class="dishes__portion" rowspan="2">200 г</th>
              <th class="dishes__price" rowspan="2">230 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Кабачок, перець, помідор, баклажан
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Картопля фрі</th>
              <th class="dishes__portion" rowspan="2">150 г</th>
              <th class="dishes__price" rowspan="2">160 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">Картопля, соус томатний</td>
            </tr>
            <tr>
              <th class="dishes__caption">Картопля по-селянськи</th>
              <th class="dishes__portion" rowspan="2">150 г</th>
              <th class="dishes__price" rowspan="2">160 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Картопля, спеції, соус пікантний
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Хрумкі соління з бочки</th>
              <th class="dishes__portion" rowspan="2">250 г</th>
              <th class="dishes__price" rowspan="2">350 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Крильця курячі в медовому соусі</th>
              <th class="dishes__portion" rowspan="2">400 г</th>
              <th class="dishes__price" rowspan="2">420 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu__container--col-2">
        <table class="dishes">
          <caption class="dishes__category">
            Салати
          </caption>
          <tbody>
            <tr>
              <th class="dishes__caption">Цезар з куркою</th>
              <th class="dishes__portion" rowspan="2">230 г</th>
              <th class="dishes__price" rowspan="2">450 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Цезар з креветками</th>
              <th class="dishes__portion" rowspan="2">230 г</th>
              <th class="dishes__price" rowspan="2">300 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">Грецький салат</th>
              <th class="dishes__portion" rowspan="2">230 г</th>
              <th class="dishes__price" rowspan="2">280 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>
            <tr>
              <th class="dishes__caption">М’ясний салат</th>
              <th class="dishes__portion" rowspan="2">230 г</th>
              <th class="dishes__price" rowspan="2">300 грн</th>
            </tr>
            <tr>
              <td class="dishes__ingredients">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>
        <table class="dishes">
          <caption class="dishes__category">
            Десерти
          </caption>
          <tbody>
            <tr>
              <th class="dishes__caption">Торт наполеон</th>
              <th class="dishes__portion">230 г</th>
              <th class="dishes__price">300 грн</th>
            </tr>
            <tr>
              <th class="dishes__caption">Торт маковий</th>
              <th class="dishes__portion">230 г</th>
              <th class="dishes__price">300 грн</th>
            </tr>
            <tr>
              <th class="dishes__caption">Тірамісу</th>
              <th class="dishes__portion">120 г</th>
              <th class="dishes__price">260 грн</th>
            </tr>
          </tbody>
        </table>
        <table class="dishes dishes-drinks">
          <caption class="dishes__category">
            Напої
          </caption>
          <tbody>
            <tr>
              <th class="dishes__caption">Чай чорний/зелений</th>
              <th class="dishes__portion">500 мл</th>
              <th class="dishes__price">100 грн</th>
            </tr>
            <tr>
              <th class="dishes__caption">Еспресо</th>
              <th class="dishes__portion">30 мл</th>
              <th class="dishes__price">100 грн</th>
            </tr>
            <tr>
              <th class="dishes__caption">Американо</th>
              <th class="dishes__portion">150 мл</th>
              <th class="dishes__price">100 грн</th>
            </tr>
            <tr>
              <th class="dishes__caption">Капучино</th>
              <th class="dishes__portion">200 мл</th>
              <th class="dishes__price">160 грн</th>
            </tr>
          </tbody>
          <tr>
            <th class="dishes__caption">Еспресо</th>
            <th class="dishes__portion">200 мл</th>
            <th class="dishes__price">160 грн</th>
          </tr>
        </table>
      </div>
    </div>
    <button data-id="data-modal-table" class="menu__button button-a open" type="button">Забронювати столик</button>
  </div>
</section>