.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #5f5f5f;
  background-color: #fffdee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

/* montserrat-regular - latin_cyrillic */
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.ttf') format('truetype'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.ttf') format('truetype'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.ttf') format('truetype'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Times New Roman Cyr';
  src: url('../fonts/TimesNRCyrMT.woff2') format('woff2'),
    url('../fonts/TimesNRCyrMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Times New Roman Cyr';
  src: url('../fonts/TimesNRCyrMT-Bold.woff2') format('woff2'),
    url('../fonts/TimesNRCyrMT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Film P3';
  src: url('../fonts/FilmP3Bold.eot');
  src: local('Film P3 Bold'), local('FilmP3Bold'),
    url('../fonts/FilmP3Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FilmP3Bold.woff2') format('woff2'),
    url('../fonts/FilmP3Bold.woff') format('woff'),
    url('../fonts/FilmP3Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #5f5f5f;
  background-color: #fffdee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 47px;
    width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 85px;
    width: 1280px;
  }
}

.decor {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  width: 0;
  background-color: rgba(186, 186, 186, 0.4);
  filter: blur(0.5);
  pointer-events: all;
}

@media screen and (min-width: 414px) {
  .about-hotel__container {
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .about-hotel__container {
    position: relative;
    padding-top: 120px;
  }
}

.about-hotel__title {
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #494848;
  text-align: end;
  margin-top: 47px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .about-hotel__title {
    font-size: 64px;
    line-height: 1.078125;
    margin-bottom: 24px;
    margin-top: 160px;
  }
}

.about-hotel__text1 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 242px;
  margin-bottom: 28px;
  margin-left: auto;
  color: #5f5f5f;
}
@media screen and (min-width: 1024px) {
  .about-hotel__text1 {
    font-size: 16px;
    line-height: 1.25;
    width: 419px;
  }
}

.about-hotel__box1 {
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .about-hotel__picture {
    position: absolute;
    top: -24px;
    left: 112;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__picture {
    position: absolute;
    top: -24px;
    left: 180;
  }
}

.about-hotel__text2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 163px;
  color: #c79002;
  margin: auto;
  padding-right: 24px;
}
@media screen and (min-width: 1024px) {
  .about-hotel__text2 {
    font-size: 16px;
    line-height: 1.25;
    width: 312px;
  }
}

.about-hotel__box2 {
  display: flex;
}

.section__menu {
  padding: 32px 0;
  background-color: #fffdee;
}
@media screen and (min-width: 1024px) {
  .menu {
    padding: 58px 0 40px 0;
    background-color: #f0ecd6;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    padding: 58px 0 60px 0;
  }
}

.section__title {
  font-family: 'Times New Roman Cyr', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .menu__title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__container {
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__container {
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container__col-1,
  .menu-container__col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 106px) / 2);
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .menu-container__col-1,
  .menu-container__col-2 {
    flex-basis: calc((100% - 140px) / 2);
  }
}

.dishes {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .dishes {
    margin-bottom: 0;
  }
}

.dishes-drinks {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .dishes-drinks {
    margin-bottom: 0;
  }
}

.dishes__category {
  font-family: 'Times New Roman Cyr', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: left;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .dishes__category {
    margin-bottom: 20px;
  }
}

.dishes__caption {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 4px;
  width: 55%;
}
@media screen and (min-width: 414px) {
  .dishes__caption {
    width: 225px;
  }
}
@media screen and (min-width: 1024px) {
  .dishes__caption {
    width: 221px;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__caption {
    width: 262px;
  }
}

.dishes__ingredients {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 8px;
}
@media screen and (min-width: 1280px) {
  .dishes__ingredients {
    padding-bottom: 12px;
  }
}

.dishes__portion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 4px 0;
  text-align: right;
}
@media screen and (min-width: 414px) {
  .dishes__portion {
    text-align: left;
    padding: 4px 0 4px 32px;
  }
}
@media screen and (min-width: 1024px) {
  .dishes__portion {
    padding: 4px 0 4px 40px;
  }
}
.dishes-drinks .dishes__portion {
  padding: 4px 0;
}
@media screen and (min-width: 414px) {
  .dishes-drinks .dishes__portion {
    padding: 4px 0 4px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .dishes-drinks .dishes__portion {
    padding: 4px 0 4px 40px;
  }
}

.dishes__price {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: right;
  padding: 4px 0;
}
@media screen and (min-width: 414px) {
  .dishes__price {
    padding: 4px 0 4px 18px;
  }
}
.dishes-drinks .dishes__price {
  padding: 4px 0;
}

.menu__button {
  background-color: #000000;
  margin: 0 auto;
}

.contacts-section {
  position: relative;
  padding-top: 32px;
  padding-bottom: 36px;
}
@media screen and (min-width: 1024px) {
  .contacts-section {
    padding-top: 69px;
    padding-bottom: 40px;
  }
}
.menu__button:hover,
.menu__button:focus {
  background-color: #ffffff;
  outline: 0.5px solid #f3c653;
  border-radius: 2px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .header {
    padding-top: 24px;
    padding-bottom: 30px;
  }
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: 'Film P3', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (max-width: 345px) {
  .header__logo {
    font-size: 30px;
  }
}
@media screen and (min-width: 346px) and (max-width: 375px) {
  .header__logo {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: 96px;
  }
}
.header__navigation-list {
  display: flex;
  gap: 20px;
  font-size: 15px;
}
@media screen and (max-width: 345px) {
  .header__navigation-list {
    gap: 6px;
  }
}
@media screen and (min-width: 346px) and (max-width: 375px) {
  .header__navigation-list {
    gap: 10px;
  }
}
@media screen and (max-width: 345px) {
  .header__navigation-list {
    gap: 6px;
  }
}
@media screen and (min-width: 346px) and (max-width: 375px) {
  .header__navigation-list {
    gap: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .header__navigation-list {
    gap: 72px;
  }
}
.header__navigation-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (max-width: 375px) {
  .header__navigation-item {
    gap: 4px;
  }
}
@media screen and (min-width: 1024px) {
  .header__navigation-item {
    gap: 32px;
  }
}
.header__navigation-link {
  color: #f3c653;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 345px) {
  .header__navigation-link {
    font-size: 13px;
  }
}
@media screen and (min-width: 346px) and (max-width: 375px) {
  .header__navigation-link {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .header__navigation-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .header__phone-box {
    display: flex;
    gap: 16px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px;
  }
}
.header__phone-link {
  display: flex;
  align-items: center;
}
.header__phone-icon {
  fill: #f3c653;
}
@media screen and (min-width: 1024px) {
  .header__phone-icon {
    margin-right: 8px;
  }
}
.header__phone-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1023.98px) {
  .header__phone-text {
    display: none;
  }
}
.header__network {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__network {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header__network-icon {
    fill: rgba(243, 198, 83, 0.7);
  }
} /*# sourceMappingURL=index.css.map */
