<section class="hero hero--roompage">
  <span class="hero__grad"></span>
  <div class="container">
    <div class="swiper-button-wrapper-rh">
      <div class="swiper-button-prev-rh">
        <svg class="swwiper-icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-rh">
        <svg class="swwiper-icon" width="40" height="40">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <h2 class="hero__title hero__title--roompage">
      ДВОМІСНИЙ НОМЕР <span class="hero__title--style">люкс</span>
    </h2>
    <p class="hero__text hero__text--roompage">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="hero__contact-box">
      <address class="hero__address hero__address--roompage">
        <a class="hero__address-map" href="https://goo.gl/maps/F3MR8Hv3ctrSivov8" target="_blank"
          rel="noopener noreferrer nofollow"><svg class="hero__address-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a>
      </address>

      <ul class="hero__network--roompage">
        <li class="hero__network-item">
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow"
            class="hero__network-link">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__network-item">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow"
            class="hero__network-link">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__network-item">
          <a href="https://web.telegram.org/" target="_blank" rel="noopener noreferrer nofollow"
            class="hero__network-link">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button data-id="data-modal-price" class="button-a hero__btn--room open" type="button">
      Переглянути ціни
    </button>
  </div>
  <div class="swiper-container-room">
    <div class="swiper-wrapper swiper-wrapper-room">
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="./images/hero_images/hotel@1x.jpg    1x, ./images/hero_images/hotel@2x.jpg 2x" type="image/jpg">
            <source media="(min-width: 1024px)"
              srcset="./images/hero_images/hotel-ipad@1x.jpg    1x, ./images/hero_images/hotel-ipad@2x.jpg 2x"
              type="image/jpg">
            <img srcset="./images/hero_images/hotel-iphone@1x.jpg    1x, ./images/hero_images/hotel-iphone@2x.jpg 2x"
              src="./images/hero_images/hotel-iphone@1x.jpg" alt="двомісний номер">
          </picture>
        </div>
      </div>
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="./images/hero_images/hotel3-ipad@1x.jpg    1x, ./images/hero_images/hotel3-ipad@2x.jpg 2x"
              type="image/jpg">
            <source media="(min-width: 1024px)"
              srcset="./images/hero_images/hotel2-ipad@1x.jpg    1x, ./images/hero_images/hotel2-ipad@2x.jpg 2x"
              type="image/jpg">
            <img srcset="./images/hero_images/hotel2-iphone@1x.jpg    1x, ./images/hero_images/hotel2-iphone@2x.jpg 2x"
              src="./images/hero_images/hotel2-iphone@1x.jpg" alt="двомісний номер">
          </picture>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>