<section class="room room-x3-adult">
  <div class="container">
    <div class="room-x3-adult__box">
      <div class="room-x3-adult__wrap">
        <p class="room-x3-adult__logo-text">Amet minim mollit non</p>
        <h2 class="room-x3-adult__logo-title">mimiho</h2>
        <p class="room-x3-adult__title">трьохмісний номер</p>
        <h2 class="room-x3-adult__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </h2>
      </div>
      <div class="room-x3-adult__picturebox">
        <picture class="room-x3-adult__picture">
          <!--mobile-->
          <source
            media="(max-width:1023px)"
            type="image/webp"
            srcset="
              /src/images/hotel_img/bedroom_mob@1x_result.webp 1x,
              /src/images/hotel_img/bedroom_mob@2x_result.webp 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              /src/images/hotel_img/bedroom_mob@1x.jpg 1x,
              /src/images/hotel_img/bedroom_mob@2x.jpg 2x
            "
          />
          <!--desktop-->
          <source
            media="(min-width:1280px)"
            type="image/webp"
            srcset="
              /src/images/hotel_img/bedroom_desk@1x_result.webp 1x,
              /src/images/hotel_img/bedroom_desk@2x_result.webp 2x
            "
          />
          <source
            media="(min-width:1280px)"
            srcset="
              /src/images/hotel_img/bedroom_desk@1x.jpg 1x,
              /src/images/hotel_img/bedroom_desk@2x.jpg 2x
            "
          />
          <!--tablet-->
          <source
            media="(min-width:1024px)"
            type="image/webp"
            srcset="
              /src/images/hotel_img/bedroom_tab@1x_result.webp 1x,
              /src/images/hotel_img/bedroom_tab@2x_result.webp 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              /src/images/hotel_img/bedroom_tab@1x.jpg 1x,
              /src/images/hotel_img/bedroom_tab@2x.jpg 2x
            "
          />
          <img
            src="/src/images/hotel_img/bedroom_desk@1x.jpg"
            alt="Готельний номер"
          />
        </picture>
      </div>
    </div>

    <div class="luxe__control-box">
      <div class="swiper-container-room3">
        <div class="swiper-wrapper swiper-wrapper-r3">
          <img
            class="swiper-slide"
            src="./images/hotel_images/bedroom1_desk@1x.jpg"
            alt="Раковина"
          />
          <img
            class="swiper-slide"
            src="./images/hotel_images/bedroom2_desk@1x.jpg"
            alt="Чашка кави на підвіконні"
          />
          <img
            class="swiper-slide"
            src="./images/hotel_images/bedroom3_desk@1x.jpg"
            alt="Диван"
          />
          <img
            class="swiper-slide"
            src="./images/hotel_images/bedroom6_mob@1x.jpg"
            alt="Ванна"
          />
        </div>
      </div>

      <ul class="luxe__flipper-btn luxe__flipper-btn3">
        <li class="swiper-button-prev-r3">
          <svg
            class="restaurant__icon room-x3-adult__svg"
            width="32"
            height="32"
          >
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
        </li>
        <li class="swiper-button-next-r3">
          <svg
            class="restaurant__icon room-x3-adult__svg"
            width="32"
            height="32"
          >
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </li>
      </ul>
      <ul class="buttons-room3">
        <li class="buttons-room__item">
          <a href="./room.html" class="button-a buttons-room__details"
            >Детальніше</a
          >
        </li>
        <li class="buttons-room__item">
          <button
            type="button"
            data-id="data-modal-price"
            class="open button-a buttons-room__details"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
