<header class="header">
    <div class="container header__container">
        <a class="header__logo" href="./index.html">Mimiho</a>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="./restaurant.html">Ресторан</a>
                    <div class="header__phone-box">
                        <a class="header__phone-link" href="tel:+380955559533">
                            <svg class="header__phone-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg>
                            <span class="header__phone-text">
                                095 555 95 33
                            </span>
                        </a>
                    </div>
                </li>
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="./hotel.html">Готель</a>
                    <div class="header__phone-box">
                        <a class="header__phone-link" href="tel:+380668491089">
                            <svg class="header__phone-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg>
                            <span class="header__phone-text">
                                066 849 10 89
                            </span>
                        </a>
                        <a class="header__phone-link" href="tel:+380672758540">
                            <span class="header__phone-text">
                                067 275 85 40
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="header__social">
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                        <svg class="social__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <svg class="social__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://www.telegram.org/" target="_blank" rel="noopener noreferrer">
                        <svg class="social__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>