<section class="about">
  <span class="decor"></span>
  <div class="container about__container">
    <div class="about__restaurant">
      <h2 class="visually-hidden">About our restaurant</h2>

      <span class="about__title">Amet minim mollit non</span>

      <h3 class="about__restaurant-logo">Mimiho</h3>

      <p class="about__restaurant-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture class="about__restaurant-box">
        <source srcset="
            /src/images/about-restaurant/about_restaurant_desktop1.jpg    1x,
            /src/images/about-restaurant/about_restaurant_desktop1@2x.jpg 2x
          " media="(min-width: 1280px)" />

        <source srcset="
            /src/images/about-restaurant/about_restaurant_tablet1.jpg    1x,
            /src/images/about-restaurant/about_restaurant_tablet1@2x.jpg 2x
          " media="(min-width: 1024px)" />

        <source srcset="
            /src/images/about-restaurant/about_restaurant_phone1.jpg    1x,
            /src/images/about-restaurant/about_restaurant_phone1@2x.jpg 2x
          " media="(min-width: 414px)" />

        <img class="restaurant__img-right about__picture" src="/src/images/about-restaurant/about_restaurant_phone1.jpg"
          alt="Інтер'єр ресторану" />
      </picture>

      <figure class="about__restaurant-post">
        <picture class="about__picture">
          <source srcset="
              /src/images/about-restaurant/about_restaurant_desktop2.jpg    1x,
              /src/images/about-restaurant/about_restaurant_desktop2@2x.jpg 2x
            " media="(min-width: 1280px)" />

          <source srcset="
              /src/images/about-restaurant/about_restaurant_tablet2.jpg    1x,
              /src/images/about-restaurant/about_restaurant_tablet2@2x.jpg 2x
            " media="(min-width: 1024px)" />

          <source srcset="
              /src/images/about-restaurant/about_restaurant_phone2.jpg    1x,
              /src/images/about-restaurant/about_restaurant_phone2@2x.jpg 2x
            " media="(min-width: 414px)" />
          <img class="restaurant__img-left" src="/src/images/about-restaurant/about_restaurant_phone2.jpg"
            alt="Інтер'єр ресторану" />
        </picture>

        <figcaption class="restaurant__post-text restaurant__post-color">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </figcaption>
      </figure>

      <!-- <div class="slider-line__container">
        <div class="slider">
          <div class="slider__box">
            <picture class="slider__picture">
              <source srcset="
                  /src/images/about-restaurant/restaurant_flipper_desktop1.jpg    1x,
                  /src/images/about-restaurant/restaurant_flipper_desktop1@2x.jpg 2x
                " />
              <img class="slider__line-img" src="/src/images/about-restaurant/restaurant_flipper_desktop1.jpg"
                alt="Можливості накриття столу" />
            </picture>

            <picture class="slider__picture">
              <source srcset="
                  /src/images/about-restaurant/restaurant_flipper_desktop2.jpg    1x,
                  /src/images/about-restaurant/restaurant_flipper_desktop2@2x.jpg 2x
                " />
              <img class="slider__line-img" src="/src/images/about-restaurant/restaurant_flipper_desktop2.jpg"
                alt="Можливості накриття столу" />
            </picture>
            <picture class="slider__picture">
              <source srcset="
                  /src/images/about-restaurant/restaurant_flipper_desktop1.jpg    1x,
                  /src/images/about-restaurant/restaurant_flipper_desktop1@2x.jpg 2x
                " />
              <img class="slider__line-img" src="/src/images/about-restaurant/restaurant_flipper_desktop1.jpg"
                alt="Можливості накриття столу" />
            </picture>
            <picture class="slider__picture">
              <source srcset="
                  /src/images/about-restaurant/restaurant_flipper_desktop2.jpg    1x,
                  /src/images/about-restaurant/restaurant_flipper_desktop2@2x.jpg 2x
                " />
              <img class="slider__line-img" src="/src/images/about-restaurant/restaurant_flipper_desktop2.jpg"
                alt="Можливості накриття столу" />
            </picture>
          </div>
        </div>
      </div> -->
      <div class="swiper-container-about-rest">
        <div class="swiper-wrapper swiper-wrapper-ar">
          <img class="swiper-slide" src="./images/about-restaurant/restaurant_flipper_desktop1.jpg" alt="slide1">
          <img class="swiper-slide" src="./images/about-restaurant/restaurant_flipper_desktop2.jpg" alt="slide2">
          <img class="swiper-slide" src="./images/about-kitchen/mobile/unsplash_2LzqR50_NTw@1x.jpg" alt="slide3">
          <img class="swiper-slide" src="./images/about-kitchen/mobile/unsplash_7BbfjQoBfqA@1x.jpg" alt="slide4">
        </div>
      </div>
      <div class="swiper-button swiper-button--r">
        <div class="swiper-button-prev-ar">
          <svg class="slider__icon luxe__icon" width="32" height="32">
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next-ar">
          <svg class="slider__icon luxe__icon" width="32" height="32">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
</section>