<section class="details details--hotel-bgr">
    <span class="decor"></span>
    <div class="container">
        <div class="details__container">
            <span class="details__logo">Mimiho</span>
            <h2 class="details__title">Готель</h2>
            <p class="details__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <div class="details__content-box">
            <div class="details__swiper">
                <div class="swiper-container-hotel">
                    <div class="swiper-wrapper swiper-wrapper-hotel">
                        <img class="swiper-slide" src="./images/main_images/details-hotel-mobile-slide-1-@1x.jpg"
                            alt="slide1">
                        <img class="swiper-slide" src="./images/main_images/details-hotel-mobile-slide-2-@1x.jpg"
                            alt="slide2">
                        <img class="swiper-slide" src="./images/main_images/details-hotel-mobile-slide-3-@1x.jpg"
                            alt="slide3">
                        <img class="swiper-slide" src="./images/main_images/details-hotel-mobile-slide-4-@1x.jpg"
                            alt="slide4">
                    </div>
                </div>
                <div class="swiper-button-wrapper">
                    <div class="swiper-button-prev">
                        <svg class="swwiper-icon" width="32" height="32">
                            <use href="./images/icons.svg#icon-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-next">
                        <svg class="swwiper-icon" width="32" height="32">
                            <use href="./images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <ul class="details__button-box">
                <li class="details__button-item">
                    <button data-id="data-modal-room" type="button" class="open button-a details__button-a">Забронювати
                        номер</button>
                </li>
                <li class="details__button-item">
                    <button data-id="data-modal-price" type="button" class="open button-a details__button-a">Переглянути
                        ціни</button>
                </li>
            </ul>
        </div>
    </div>
</section>