<section class="details details--restaurant-bgr">
  <span class="decor"></span>
  <div class="container">
    <div class="details__container details__container--rest">
      <span class="details__logo">Mimiho</span>
      <h2 class="details__title">Ресторан</h2>
      <p class="details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details__content-box details__content-box--rest">
      <div class="details__swiper--rest">
        <div class="swiper-container-restaurant">
          <div class="swiper-wrapper swiper-wrapper--r">
            <img
              class="swiper-slide"
              src="./images/restaurant-details/image1@1x.jpg"
              alt=""
            />
            <img
              class="swiper-slide"
              src="./images/restaurant-details/image2@1x.jpg"
              alt=""
            />
            <img
              class="swiper-slide"
              src="./images/restaurant-details/image3@1x.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-button-wrapper--rest">
          <div class="swiper-button-prev-r">
            <svg class="swwiper-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next-r">
            <svg class="swwiper-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <ul class="details__button-box details__button-box--rest">
        <li class="details__button-item">
          <button
            data-id="data-modal-table"
            type="button"
            class="open button-a details__button-a"
          >
            Забронювати столик
          </button>
        </li>
        <li>
          <a
            class="open button-a details__button-a"
            href="./restaurant.html#menu"
            >Переглянути меню</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
